*{
    font-size: 24px;
}
body {
    line-height: 24px;
    font-size: 20px;
    background-color: #ECF5FF;
}
.main{
    width: 800px;
    margin: 0 auto;
    /*background-color: rgba(188, 250, 214, 0.55);*/
}
a:link {
    text-decoration: none;
    color: #f58e10;
}
/*留言撰写区*/
form {
    margin: 0 auto;
    position: relative;
    font-size: 20px;
}
form input{
    width: 300px;
    margin-top: 10px;

}
textarea {
    font-size: 20px;
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
    border: 1px solid #999999;
    width: 300px;
}

.btn{
    margin: 0 20px;
    width: 120px;
}

/*留言表格呈现*/
table{
    width:800px;
}
td {
    line-height: 36px;
    border: 1px;
    font-size: 20px;
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}
/*.user td{*/
    /*border-bottom: 1px;*/
/*}*/
/*.content td{*/
    /*border-bottom: 1px;*/
/*}*/

.user{
    background-color: #d3f8ff;
}
.content{
    background-color: #ebdcff;
}
.date{
    background-color:#ECF5FF;
    font-size: 12px;
    text-align: right;
}
.space{
    height: 10px;
    border:0;
}
