*{
    /*margin: 0;*/
    padding: 0;
    font-family: "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
}
body{
}
li{
    list-style: none;
}
header{
    width: 100%;
    text-align: center;
}
header h2{
    font-size: 30px;
    font-weight: bold;
    margin: 5px auto;
}
#btn{
    display: block;
    margin: 0 auto;
    width: 100px;
    padding: 5px 5px;
    font-size: 20px;
    text-decoration: none;
}

#msg{
    margin: 5px auto;
    font-size: 20px;
}
header p{
    font-size: 24px;
    margin: 1px auto;
    text-align: center;
}
#grids{
    width: 460px;
    height: 460px;
    padding: 10px;
    margin: 15px auto;
    background-color: #bbada0;
    border-radius: 10px;
    position: relative;
}
.grid{
    width: 100px;
    height: 100px;
    border-radius: 12px;
    background-color: #ccc0b3;
    position: absolute;
}

.num{
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    position: absolute;
}
.num p{
    white-space:nowrap;
}

.rule{
    position: absolute;
    width: 340px;
    left:25%;
    top:8%;
}
.key{
    font-weight: bold;
    font-size: 20px;
}
#detail{
    display: none;
    background-color: lightblue;
    opacity: .5;
    z-index: 99;
}

footer{
    position: absolute;
    top:95%;
    text-align: center;
    width: 240px;
    left:50%;
    margin-left: -120px;
}

