*{
    /*margin: 0;*/
    padding: 0;
}
li{
    list-style: none;
}
header{
    /*display:block;*/
    /*margin: 0 auto;*/
    /*width:500px;*/
    width: 100%;
    text-align: center;
}
header h1{
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    margin: 10px auto;
}
header #btn{
    display: block;
    margin: 20px auto 10px auto;
    width: 100px;
    padding: 5px 5px;
    background-color: #8f7a66;
    font-family: Arial;
    color: white;
    font-size: 20px;
    border-radius: 9px;
    text-decoration: none;
}
header #btn:hover{
    background-color: #9f8b77;
}
header button{
    margin: 10px auto 10px auto;
    font-size: 20px;
}
header p{
    font-family: Arial;
    font-size: 24px;
    margin: 1px auto;
    text-align: center;
}
#grids{
    width: 460px;
    height: 460px;
    padding: 10px;
    margin: 10px auto;
    background-color: #bbada0;
    border-radius: 10px;
    position: relative;
}
.grid{
    width: 100px;
    height: 100px;
    border-radius: 12px;
    background-color: #ccc0b3;
    position: absolute;
}

.num{
    border-radius: 6px;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    position: absolute;
}
.num p{
    white-space:nowrap;
}

.rule{
    position: absolute;
    width: 340px;
    left:25%;
    top:8%;
}
.key{
    font-weight: bold;
    font-size: 20px;
}
#detail{
    display: none;
    background-color: lightblue;
    opacity: .5;
    z-index: 99;
}

footer{
    position: absolute;
    top:95%;
    text-align: center;
    width: 240px;
    left:50%;
    margin-left: -120px;
}

